html {
    background: #500805;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #1E0000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #dedcdc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 4em;
    text-align: justify;
}
.topnav {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #9D331F;
    overflow: hidden;
    width: 100%;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #BC6D4F;
    color: black;
}


h1, h2, h3, h4, h5, h6 {
    color: #d6d6d6;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

a:hover {
    color: #ffffff; 
   }

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}
.rightimg  {
    margin:7px 0 7px 7px;
    float: right; /* Выравнивание по правому краю  */ 

   }
.leftimg  {
    margin: 7px 7px 7px 0px;
    float: left; /* Выравнивание по правому краю  */ 

   }

img {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    
    margin: 1.3em auto;
    max-width: 95%;
    
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

